.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 342px;
  width: 310px;
  cursor: pointer;
}

.cardImg {
  width: 310px;
  height: 230px;
}

.cardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardDesc {
  padding: 20px;
  height: 112px;
  text-align: left;
  background-color: var(--addition-color-text);
  color: var(--bg-color);
}

.cardTitle {
  font-size: 1.1rem;
  font-weight: 500;
}

.cardDate {
}
