.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 342px;
  width: 310px;
  cursor: pointer;
}

.cardImg {
  width: 310px;
  height: 230px;
}

.cardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardDesc {
  position: relative;
  padding: 20px;
  height: 112px;
  text-align: left;
  background-color: var(--addition-color-text);
  color: var(--bg-color);
}

.cardTitle {
  font-size: 1.1rem;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkbox {
  position: absolute;
  bottom: 5px;
  right: 10px;
  width: 30px;
  height: 30px;
  accent-color: #fefaf1;
  border: 1px solid #ffffff;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 0.2);
}

@media (hover: hover) {
  .checkbox {
    cursor: pointer;
  }
}
