.main {
  position: relative;
  flex-grow: 1;
  width: 100%;
  background-color: var(--addition-bg-color);
  color: var(--addition-color-text);
}

.cardsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 12px;
  margin: 80px 0;
}
